/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

    font-size: 12px;
    font-family: sans-serif;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.header {
    text-align: center;
}

.content {
    padding: 0.5rem;
    margin: 0.5rem 1rem 0.5rem;
    height: 80%;
    position: relative;
}

.header h2 {
    margin-top: 0.25rem;
    font-size: 14px;
}

.grid {
}

.grid-item {
    position: relative;
}

.grid-item label {
}

.grid-item p {
    display: inline;
    position: absolute;
    right: 0;
    text-align: right;
}

.qrcode-container {
    width: 50%;
    position: absolute;
    bottom: 1em;
    left: 25%;
}

.qrcode-container img {
    width: 100%;
}

footer {
    width: 50%;
    margin: 0 auto 0.25rem;
    text-align: center;
    font-size: 0.8em;
}

.total {
    margin-top: 0.5rem;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px dotted black;
    height: 0.5;
    width: 100%;
}
